.Footer {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 5px 40px;
    bottom: 0;
    width: 100%;
    background: #eeeaec;
    z-index: 999;
    opacity: 1;
    font-size: 20px
}

@media (max-width: 700px) {
    .Footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 15px
    }
}