i {
    color: white;
    margin: 20px;
    opacity: 0.6;
    font-size: 40px;
}

i:hover {
    opacity: 1;
    cursor: pointer;
    animation: 1 bounce 1.7s forwards;
}
  
@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    15% {
        transform: translateY(-15px);
    }
    20% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(0px);
    }
    45% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(0px);
    }
}