/* MY DESCRIPTION */

h3 {
  color: white;
  font-size: 30px;
  opacity: 0;
  text-shadow: 1px 1px 7px black;
  -webkit-animation: 1 fadein 1s forwards;
          animation: 1 fadein 1s forwards;
}


#MeJob {
  font-size: 50px;
  text-shadow: 1px 1px 7px black;
  color: white;
  margin-right: 450px;
  opacity: 0;
  -webkit-animation: 1 titleSlide 1s forwards;
          animation: 1 titleSlide 1s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s
}

#MePic {
  width: 270px;
  border-radius: 120px;
  border: 5px solid white;
  margin-left: 450px;
  opacity: 0;
  -webkit-animation: 1 picSlide 1s forwards;
          animation: 1 picSlide 1s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none
}

@-webkit-keyframes titleSlide {
  100% {
    opacity: 1;
    margin-right: 0
  }
}

@keyframes titleSlide {
  100% {
    opacity: 1;
    margin-right: 0
  }
}

@-webkit-keyframes picSlide {
  100% {
    opacity: 1;
    margin-left: 0;
    -webkit-box-shadow: -1px 4px 40px 1px white ;
    box-shadow: -1px 4px 40px 1px white;
  }
}

@keyframes picSlide {
  100% {
    opacity: 1;
    margin-left: 0;
    -webkit-box-shadow: -1px 4px 40px 1px white ;
    box-shadow: -1px 4px 40px 1px white;
  }
}

@media (max-width: 650px) {
  #MeJob {
    font-size: 35px;
  }

  #MePic {
    width: 250px;
  }

  h3 {
    font-size: 20px;
  }

  li {
    margin: 0 20px
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
  }
}