/* NAVBAR */

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    align-items: center;
    opacity: 0;
    -webkit-animation: 1 fadein 0.5s forwards;
    animation: 1 fadein 0.5s forwards;
    width: 100%;
    background: #406fb6;
    z-index: 999;
    opacity: 0.6;
}
  
h1#Name {
    font-size: 28px;
    color: #FFF;
    opacity: 0.75
}
  
h1#Name:hover {
    cursor: pointer;
    opacity: 1
}
  
.NavLinks {
    list-style: none;
    display: flex
}
  
li {
    margin-left: 20px;
    opacity: 0.75;
    font-size: 23px;
    color: #FFF;
}
  
li:hover {
    cursor: pointer;
    opacity: 1;
}
  
@keyframes fadein {
    100% {
      opacity: 1
    }
}