#Projects {
    padding-top: 50px;
    height: 100vh;
    background:	#2d2e32;
    padding: 100px 40px;
}

#Projects h1 {
    font-size: 50px;
    text-shadow: 1px 1px 7px black;
    color: white;
}

@media (max-width: 650px) {
    #Projects h1 {
        font-size: 35px;
    }
}