#Skills {
    padding-top: 50px;
    height: 100vh;
    background:	#687189;
    color: white;
    padding: 100px 40px;
}

#Skills h1 {
    font-size: 50px;
    text-shadow: 1px 1px 7px black;
    color: white;
    margin-bottom: 50px
}

li {
    list-style: none
}


.SkillsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px auto;
    font-size: 19px
}

.SkillsList h4 {
    font-size: 25px
}

.SkillArea {
    display: flex;
}

.SkillArea li {
    font-size: 20px
}

@media (max-width: 650px) {
    #Skills h1 {
        font-size: 35px;
        margin-bottom: 0
    }
    .SkillArea {
        flex-direction: column;
    }
    .SkillsList h4 {
        font-size: 20px
    }
    .SkillArea li {
        font-size: 18px
    }
}