#Skills {
    padding-top: 50px;
    height: 100vh;
    background:	#6c6d78;
    color: white;
    padding: 100px 40px;
}

#Skills h1 {
    font-size: 50px;
    text-shadow: 1px 1px 7px black;
    color: white;
}

li {
    list-style: none
}

h4 {
    font-size: 30px
}

.SkillsList {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10px auto
}

.SkillArea {
    display: flex;
    /* flex-direction:  */
}